<?php

namespace Database\Seeders;

use App\Models\User;
use Illuminate\Database\Seeder;
use Illuminate\Database\Console\Seeds\WithoutModelEvents;

class UserSeeder extends Seeder
{
  /**
   * Run the database seeds.
   */
  public function run(): void
  {
    $users = [
      [
        'name' => 'User',
        'email' => 'user@example.com',
        'password' => bcrypt('password'),
        'role' => 'user',
      ],
      [
        'name' => 'Moderator',
        'email' => 'moderator@example.com',
        'password' => bcrypt('password'),
        'role' => 'moderator',
      ],
    ];

    User::insert($users);
  }
}
